<%- include("partials/header") -%>

<div class="fileSubmit">
<form action="/guides" method="post" enctype='multipart/form-data'>
    <h1>Add a Guide</h1>
    <label for="file-upload" style="display: block;">+</label>
    <input id="file-upload" type="file" name="fileName" accept=".pdf" style="display: none;"/>
    <input type="text" name="tuteTitle">
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>

<div class="object">
  <% records.forEach(function(pdfFile){ %>
   <div class="single">
    <div class="tutesName">
      <h1>Topic: <%=pdfFile.name%></h1>
      <button class="btn btn-primary" name="press" value="<%=pdfFile.title%>" onclick="buttonAct(event)">Open</button>
        
    </div>
    <div class="pdfInput" name="<%=pdfFile.title%>" style="display: none;">
      <object
        data='Uploads/<%=pdfFile.title%>'
        type="application/pdf"
        width="500"
        height="678"
      >
  
        <iframe
          src='Uploads/<%=pdfFile.title%>'
          width="500"
          height="678"
        >
        <p>This browser does not support PDF!</p>
        </iframe>
      </object>
    </div>
    </div>
  <% }); %>
</div>
<script>
  const buttonAct = (event) =>{
    if($('button[name]') == event.target.value)
    {

    }

}
</script>


<%- include("partials/footer") -%>